.cart-item-container {
    background-color: lightgray;
    width: 60%;
    border-radius: 10px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cart-img-container {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
}

.cart-img-container > img {
    max-width: 100px;
    height: auto;
}

.cart-info-container {
    width: 70%;
}

.button-cart {
    padding: 10px !important;
    border-radius: 5px !important;
    background: #101c2b !important;
    color: white !important;
    width: 10vw !important;
    margin: 10px 0 !important;
}