.button-cart {
    padding: 10px !important;
    border-radius: 5px !important;
    background: #101c2b !important;
    color: white !important;
    width: 100% !important;
    margin: 10px 0 !important;
}